// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "scss/fontawesome.scss";
@import "scss/solid.scss";

body {
    font-size: 1.2rem;
}

.classic-link {
    font-size: 1.2rem;
    color: $purple;
}

.text-gray {
    color: $gray;
}

.text-primary {
    color: $primary;
}

.border-secondary {
    border: 1px solid $secondary;
}

.alert-primary {
    background-color: $primary;
    border: 0px;
    border-radius: 0px;
}

.alert-primary-text {
    color: white;
}

.copyright {
    color: $gray;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: $purple;
    border: 1px solid $purple;
    border-radius: 0px;
}

.btn-primary:hover {
    background-color: $purple-dark;
    border: 1px solid $purple-dark;
}

.form-control {
    background: transparent;
    border: 0;
    font-size: 1.1rem;
}

.input-group-text {
    background-color: transparent;
    border: 0px;
    font-size: 1.1rem;
}

.clickable {
    cursor: pointer;
}

.web-title {
    font-size: 3.5rem;
    padding: 10px;
    line-height: unset;
}
