<template>
  <div>
      <div class="row justify-content-center mt-5">
          <div class="col-sm-12 text-center">
              <h1 class="web-title">
                  <strong>
                      Zkrať si.net
                  </strong>
              </h1>
          </div>

          <div class="col-sm-12 text-center">
              <router-link :to='{ "name": "home" }' class="classic-link">Chci zkrátit</router-link> ...
              <router-link :to='{ "name": "history" }' class="classic-link">Co je už zkráceno</router-link>
          </div>
      </div>

      <div class="row justify-content-center border-secondary p-4 mt-5">
          <router-view></router-view>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
