<template>
  <div class="col-sm-10">
      <h2 class="text-center mb-5">Co jste už zkrátili?</h2>
          <div v-for="link in links.links" :id="link.id" class="row border-top rounded">
              <div class="col-sm-4 text-center p-2">
                  {{ czechDate(link.created_at) }}
              </div>

              <div class="col-sm-4 text-center p-2">
                  <span class="text-gray">
                    {{ link.original_url.substring(0,10) }}
                    ...
                    {{ link.original_url.substring(link.original_url.length - 7, link.original_url.length) }}
                  </span>
              </div>

              <div class="col-sm-4 text-center p-2">
                  <a :href="link.original_url" target="_blank" class="btn btn-primary">
                      <i class="fas fa-external-link-alt"></i>
                  </a>
              </div>
          </div>

  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
computed: {
    ...mapState(['links']),
  },
  created () {
    this.$store.dispatch('links/fetchLinks', 20);
  },
    methods: {
        czechDate: function(date) {
            let dateObject = new Date(date)
            return dateObject.toLocaleString()
        }
    }
}
</script>

<style>

</style>
