<template>
  <div class="col-sm-8 text-center">
      <form method="POST" @submit.prevent="insert">
          <div class="form-group row">
              <div class="offset-sm-3 col-sm-6">
                  <base-input
                      label="Zadejte adresu ke zkrácení:"
                      type="text"
                      placeholder="https://"
                      v-model="originalUrl"
                      @input="randomize()">
                  </base-input>
              </div>
          </div>

          <div class="form-group row mb-5">
              <label for="generated_url" class="col-form-label offset-sm-3 col-sm-6">Cílové URL:</label>
              <div class="offset-sm-3 col-sm-6">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                              zkratsi.net/
                          </div>
                      </div>

                      <input type="text" id="generated_url" v-model="finalUrl" @input="links.notification = null" class="form-control">

                      <div class="input-group-append">
                          <i class="fas fa-copy mt-2 ml-2 text-primary clickable" @click="copyToClip(finalUrl)"></i>
                      </div>
                  </div>
              </div>
          </div>

          <transition name="fade">
              <div v-if="links.notification != null" class="offset-sm-3 col-sm-6 alert alert-primary mt-2">
                  <span class="alert-primary-text">
                      {{ links.notification }}
                  </span>
              </div>

              <div v-if="validation === 'invalid'" class="offset-sm-3 col-sm-6 alert alert-danger mt-2">
                  <span class="alert-primary-text">
                      Asi jste nevložili správně odkaz. Ujistěte se, že začíná https:// či http://.
                  </span>
              </div>
          </transition>

          <div class="col-sm-12 text-center mb-3">
              <input type="checkbox" name="public" v-model="publicCheck"/>
              <small>Odkaz je veřejný.</small>
          </div>

          <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-primary">Zkrátit</button>
          </div>
      </form>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      originalUrl: null,
      finalUrl: "",
        validation: null,
        publicCheck: 0
    };
  },
  computed: {
    ...mapState(["links"])
  },
  methods: {
      randomize: function () {
          this.links.notification = null
          this.finalUrl = ""
          const characters =
              "ABCDEFGHIJKLMNOPQRSTUWXYZabcefghijklmnopqrstuvwxyz123467890";

          for (let i = 0; i < 6; i++) {
              this.finalUrl +=
                  characters[Math.floor(Math.random() * characters.length)];
          }

          this.$store.dispatch("links/fetchLinkCount", this.finalUrl);

          if (this.links.count > 0) {
              this.randomize()
          } else {
              return this.finalUrl;
          }
      },
      insert: function () {
          let link = {}
          if (this.control(this.originalUrl, this.finalUrl)) {

              link = {
                  original_url: this.originalUrl,
                  generated_url: this.finalUrl,
                  public: this.publicCheck
              };

              this.$store.dispatch("links/insert", link)

              this.copyToClip(this.finalUrl);

              this.originalUrl = ''
              this.finalUrl = ''
          } else {
              this.validation = 'invalid'
          }

          console.log(this.links.notification)
      },
      control: function (originalUrl, finalUrl) {
          let regOriginal = /[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_+.~#?&\/=]*)/.exec(originalUrl)
          let regFinal = /[-a-zA-Z0-9@:%._+~#=]{3,20}/.exec(finalUrl)

          return (regFinal && regOriginal) != null;
      },
      copyToClip: function (finalUrl) {
          let dummy = document.createElement("textarea");
          document.body.appendChild(dummy);
          dummy.value = `https://zkratsi.net/${finalUrl}`;
          dummy.select();
          document.execCommand("copy");
          document.body.removeChild(dummy);

      }
  }
};
</script>

<style>
.fade-enter {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1.5s ease-out;
}

.fade-leave-to {
    opacity: 0;
}

</style>
