<template>
  <div>
      <label>{{ label }}</label>
      <input :value="value" @input="sendUp" v-bind="$attrs" class="form-control border-bottom" />
  </div>
</template>

<script>
export default {
    inheritAttrs: false,
    props: {
      label: {
        type: String,
        value: ''
      },
      value: [String, Number]
    },
    methods: {
      sendUp (event) {
        this.$emit('input', event.target.value)
      }
    }
}
</script>

<style>

</style>
